{% extends 'base.html.twig' %}

{% block body %}
    <!-- main slider -->
    <section class="slider-full">
        <div id="rev_slider_wrapper" class="rev_slider_wrapper fullscreenbanner" data-alias="highlight-carousel16" style="margin:0px auto;background-color:#000000;padding:0px;margin-top:0px;margin-bottom:0px;">
          <div class="slide-title">
            <h3>David Festoc</h3>
            <a href="{{ path('app_gallery') }}">{{ 'Gallery'|trans }}</a>
          </div>
          <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
              <div id="rev_slider_text" class="rev_slider fullwidthabanner"  data-version="5.0.7">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-index="rs-682" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000" data-rotate="0" data-saveperformance="off" data-title="Expression" data-description="">

                            <!-- MAIN IMAGE -->
                            <img src="{{ asset('bundles/app/img/home_1.jpg') }}" alt="" data-bgposition="center center" data-kenburns="on" data-duration="20000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        </li>

                        <!-- SLIDE  -->
                        <li data-index="rs-683" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000" data-rotate="0" data-saveperformance="off" data-title="Expression" data-description="">

                            <!-- MAIN IMAGE -->
                            <img src="{{ asset('bundles/app/img/home_2.jpg') }}" alt="" data-bgposition="center center" data-kenburns="on" data-duration="20000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        </li>
                    </ul>
                  <div class="tp-bannertimer tp-top" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>
              </div>
          </div><!-- END REVOLUTION SLIDER -->
    </section>

{% endblock %}
